.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.button{
  border:  1px solid;
  background-color: red;
  color: white;
  border-radius: 7px;
}
.successmessage {
  width: 200px;
  height: 30px;
  color: green;
  font-size: 20px;
  text-align: center;
}
